@import "./css/normalize.css";

:root{
	--bg:#1a7b5d;
	--primary:rgb(238, 225, 41);
	--white: #F8F0E4;

}

html {
	scroll-behavior: smooth;
	
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: var(--white);
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto);
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
[class*="__container"] {
	max-width: 1410px;
	margin: 0px auto;
	padding: 15px;
}
/*=====================*/
.header {
	background:var(--bg);
	grid-area: header;
	
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header__logo {
	width: 50px;
	height: 50px;
	background: var(--primary);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	gap: 45px;
}
.menu__list li {
}
.menu__link {
	color: var(--white);
	font-size: 22px;
	font-weight: 500;
}
/*=====================*/
.main {
	background: var(--bg);
	grid-area: main;
}
.main__container {
}

.section__wrapper {
	padding: 20px 0px;
	margin-bottom: 60px;
	border-radius: 10px;
	
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.profile__photo {
	width: 250px;
	height: 250px;
	position: relative;
	background: var(--primary);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
border: 14px solid var(--primary);
border-radius: 38%;

}

.profile__photo img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 50%;
}
.profile__description {
	margin-top: 25px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 40px;

}
.description {


	
}
.description__greeting {
	text-align: center;
	font-size: 54px;
	font-weight: 500;
}
.description__name {
	font-weight: 700;
	font-size: 57px;
	color: var(--primary);
}
.description__name_visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.description__job-title {
	font-weight: 700;
	font-size: 70px;
}

.profile__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 40px 0px 20px 0px;
}
.buttons{

}
.btn {
	font-size: 24px;
	line-height: 1.2 ;
	font-weight: 700;
	padding: 10px 15px;
	border: 3px solid var(--white);
	border-radius: 8px;
	color: var(--bg);
	background-color: var(--white);

}
.buttons_email {
	

}

.buttons_download {
	color: var(--white);
	background: none;
}
.profile__message {
	max-width: 1200px;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*=====================*/
.projects {
	background: var(--white);
}

.section__title{
	color: var(--bg);
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 30px;
}

/* карусель */



.projects__list {  
	max-width: 1200px;
	margin: 20px auto 30px;
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
	padding: 30px 15px;
	gap: 30px;
	border: 1px solid #000;
}
/* картинка */
.projects__controls {
	
}
.projects__item {
	background: #638e8a8c;
	max-width: 420px;
	max-height: 450px;
box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}
.projects__image {
	width: 400px;
	height: 290px;
	position: relative;
	padding: 0 0 15% 0;
}
.projects__image img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

}
.projects__title {
	color: var(--white);
	font-size: 28px;
	text-align: center;
	padding: 5px;
}
.projects__description {
	color: var(--white);
	font-size: 24px;
	padding: 5px;

}


.education h2 {
	color: var(--white);
}
.education__list {
	display: grid;
	border: 3px solid rgb(52, 169, 205);
	grid-template-rows: repeat(4, 1fr);
}
.education__item {
	display: grid;
	border: 3px solid rgb(225, 65, 201);
grid-template-columns: minmax(auto, 150px) minmax(auto, 200px) 1.2fr 1fr;
align-items: center;
column-gap: 35px;
padding: 5px;
}
.education__year {
}
.education__status {
	align-items: end;
}
.education__degree {
}
.education__company {
}






.skills {
	background: var(--white);
}
.skills__content {
	padding: 30px;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, 1fr);

}
.skills__title-gen{
	text-align: left;
order: 2;
}
.skills__box {
	padding-top: 10px;
	border: 1px solid #000;
	width: 610px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.skills__item {
}
.hexagon {
	position: relative;
	width: 100px;
	height: 110px;
	background-color: var(--bg);
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	/* background-color: rgba(153, 50, 204, 0.603); */

}
.skills__item:nth-child(5) {
	bottom: 10%;
	right: 17%;
opacity: 0.4;
	width: 160px;
	height: 170px;
}

 .skills__item:nth-child(6) {
	bottom: 9%;
	right: 16%;
	width: 130px;
	height: 140px;
}

.skills__item:nth-child(7) {
	bottom: 43%;
	left: 16%;
	width: 100px;
	height: 110px;
}
.skills__item:nth-child(8) {
	bottom: 65%;
	left:25%;
opacity: 0.4;
	width: 100px;
	height: 110px;
} 
.skills__item:nth-child(2) {
	bottom: 22%;
	left: 1%;
	
	width: 60px;
	height: 70px;
} 
.skills__item:nth-child(3) {
	bottom: 13%;
	right: 12%;
	opacity: 0.4;
	width: 40px;
	height: 50px;
} 
.skills__item:nth-child(9) {
	bottom: 55%;
	left:25%;
	width: 20px;
	height: 30px;
} 
.skills__item:nth-child(10) {
	opacity: 0.4;

	bottom: 48%;
	left:15%;
	width: 20px;
	height: 30px;
} 
.skills__item:nth-child(1) {
bottom: 20%;
left: 0;
	width: 20px;
	height: 30px;
} 
.skills__item:nth-child(4) {
	bottom: 10%;
	right: 11%;

	width: 100px;
	height: 110px;
}

/* .test {
}
.test-block {
}
.hexagone {
	position: relative;
	width: 250px;
	height: 250px;
	background-color: darkorchid;
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

}

.hexagone p {
	position: absolute;
text-align: center;
top: 50%;
left: 50%;
	font-size: 48px;
	color: #000;
	order: 2;
} */







.footer {
	background: rgb(145, 143, 36);
	grid-area: footer;
	padding: 15px;
	display: grid;
	grid-template: 1fr / 1fr minmax(100px, 300px) minmax(500px, 1100px) 1fr;
	align-items: center;
}
