@import "./normalize.css";

:root {
	--bg: #1a7b5d;
	--primary: rgb(238, 225, 41);
	--white: #ffffff;
	--text-color: rgb(21, 24, 27);
	--dark-color: #28254f;
	--dark-bg: url("../img/backgrounds/dark-bg.png") 0 0 / cover;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: var(--white);
	background: url("../img/backgrounds/dark-bg.png");
}
.transition {
	transition-duration: 0.5s;
	color: var(--bg);
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: minmax(70px, 100px) 1fr minmax(70px, auto);
	grid-template-columns: 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/*=====================*/
.header {
	grid-area: header;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	width: 50px;
	height: 50px;
	background: var(--primary);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	gap: 45px;
}
.menu__list li {
}
.menu__link {
	color: var(--white);
	font-size: 22px;
	font-weight: 500;
}
/*=====================*/
.main {
	/* background: var(--bg); */
	grid-area: main;
}
.main__container {
}

[class*="__container"] {
	max-width: 1440px;
	margin: 0px auto;
	padding: 25px;
}

.section__container {
	padding: 20px 25px 60px;
	border-radius: 10px;
}

.profile {
}
.profile__content {
	color: aliceblue;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
}
.profile__photo {
	width: 250px;
	height: 250px;
	position: relative;
	background: var(--primary);
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	border: 14px solid var(--primary);
	border-radius: 38%;
}

.profile__photo img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 50%;
}
.profile__description {
	margin-top: 25px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 40px;
}
.description {
}
.description__greeting {
	text-align: center;
	font-size: 54px;
	font-weight: 500;
}
.description__name {
	font-weight: 700;
	font-size: 57px;
	color: var(--primary);
}
.description__name_visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.description__job-title {
	font-weight: 700;
	font-size: 70px;
}

.profile__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin: 40px 0px 20px 0px;
}
.buttons {
}
.btn {
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	padding: 10px 15px;
	border: 3px solid var(--white);
	border-radius: 8px;
	color: var(--bg);
	background-color: var(--white);
}
.buttons_email {
}

.buttons_download {
	color: var(--white);
	background: none;
}
.profile__message {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*=====================*/
.projects {
	background: var(--white);
}

.section__title {
	color: var(--bg);
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 30px;
}
.projects__content {
}
.projects__carousel {
	position: relative;
}
.controls__btn {
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	width: 60px;
	height: 70px;
	font-size: 45px;
	background: var(--bg);
	color: wheat;
	border: 1px solid #000;
	padding-bottom: 3px;
	position: absolute;
	top: 43%;
	z-index: 2;
}
.controls__btn:first-child {
	right: 96.7%;
}
.controls__btn:nth-child(2) {
	left: 96.4%;
	z-index: 2;
}

/* карусель */
.projects__list {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	gap: 25px;
	overflow: hidden;
	margin: 20px auto 30px;
	padding: 15px;
}

/* картинка */
.projects__item {
	background: #638e8a8c;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 10px;
	max-width: 440px;
	max-height: 450px;
	box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 10px;
	position: relative;
}
.projects__image {
	width: 415px;
	height: 290px;
	position: relative;
}
.projects__image img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	border-radius: 10px;
}
.projects__title {
	color: var(--white);
	font-size: 28px;
	text-align: center;
	padding: 5px;
}
.projects__description {
	color: white;
	font-size: 26px;
	padding: 10px;
	opacity: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 90%;
	margin: 0 auto;
	transform: translate(-50%, 0);
	transition: 0.5s;
}
.projects__item:hover .projects__description {
	opacity: 1;
}

.education {
	color: aliceblue;
}

.education h2 {
	/* color: var(--white); */
	color: aliceblue;
}
.education__list {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	border-radius: 25px;
}
.education__item {
	display: grid;
	border-bottom: 3px solid white;
	grid-template-columns: minmax(auto, 200px) minmax(auto, 220px) 1.2fr 1fr;
	align-items: center;
	column-gap: 30px;
	padding: 15px;
}
.education__year {
}
.education__status {
	align-items: end;
}
.education__degree {
}
.education__company {
	/* color: var(--white); */
	color: aliceblue;
}
.education__company a {
	/* color: var(--white); */
	color: aliceblue;
}

.skills {
	background: var(--white);
}
.skills__content {
	padding: 30px 5px;
	display: grid;
	grid-template-rows: minmax(50px auto) 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"title title"
		"scheme description";
}
.skills__title-gen {
	grid-area: title;
}
.skills__box {
	padding-top: 10px;
	width: 610px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	grid-area: scheme;
}
.skills__item {
	position: relative;
}
.hexagon {
	width: 100px;
	height: 110px;
	background-color: var(--bg);
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	/* background-color: rgba(153, 50, 204, 0.603); */
}
.hexagon:hover {
	transition-duration: 0.6s;
	transform: scale(1.3);
	background: rgb(212, 142, 11);
	z-index: 3;
}

.skills__text {
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 30%;
	text-align: center;
	color: var(--white);
	font-size: 28px;
	cursor: default;
}
.skills__item:nth-child(1) {
	bottom: 15%;
	left: 5%;
	width: 20px;
	height: 30px;
}
.skills__item:nth-child(2) {
	top: 1%;
	left: 12.5%;

	width: 60px;
	height: 70px;
}
.skills__item:nth-child(3) {
	bottom: 10%;
	right: 4%;
	opacity: 0.4;
	width: 40px;
	height: 50px;
}
.skills__item:nth-child(3):hover {
	opacity: 1;
}
.skills__item:nth-child(4) {
	top: 27%;
	right: 1.8%;
	width: 100px;
	height: 110px;
}
.sass-text {
	left: 13%;
}

.skills__item:nth-child(5) {
	top: 10%;
	right: 10%;
	opacity: 0.4;
	width: 160px;
	height: 170px;
}
.skills__item:nth-child(5):hover {
	opacity: 1;
}
.html-text {
	top: 43%;
}

.skills__item:nth-child(6) {
	top: 12%;
	right: 9.5%;
	width: 130px;
	height: 140px;
}
.css-text {
	top: 43%;
	left: 27%;
}
.skills__item:nth-child(7) {
	top: 44.5%;
	right: 39%;
	width: 100px;
	height: 110px;
}
.js-text {
	top: 39%;
	left: 33%;
}
.skills__item:nth-child(8) {
	bottom: 60%;
	left: 27%;
	opacity: 0.4;
	width: 100px;
	height: 110px;
}
.skills__item:nth-child(8):hover {
	opacity: 1;
}

.skills__item:nth-child(9) {
	bottom: 50%;
	left: 30%;
	width: 20px;
	height: 30px;
}
.skills__item:nth-child(10) {
	opacity: 0.4;

	bottom: 40%;
	left: 20%;
	width: 20px;
	height: 30px;
}
.skills__item:nth-child(10):hover {
	opacity: 1;
}
.skills__description {
	grid-area: description;
	background: rgba(58, 17, 58, 0.486);
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: justify;

	gap: 15px;
	color: #000;
}

.footer {
	/* background: rgb(145, 143, 36); */
	grid-area: footer;
	padding: 5px 15px;
	font-size: 24px;
}
.footer__container {
}
.footer__content {
	/* display: flex;
	justify-content: space-between; */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
}
.footer__dedication {
}
.footer__dedication img {
	width: 140px;
	margin-top: -14px;
	margin-left: 5px;
}
.footer__dedication img:hover {
	transition-duration: 0.6s;
	transform: scale(1.1);
}
.footer__data {
	text-align: center;
}
.footer__links {
}
.links {
}
.links__list {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 10px;
	justify-content: end;
}
.list__item {
}
.list__link {
}

.list__image {
	width: 32px;
	height: 32px;
}

.list__image:hover {
	transition-duration: 0.6s;
	transform: scale(1.3);
}
.burger__icon {
	display: none;
}
.opacity {
	display: none;
}
@media (max-width: 1433.98px) {
	.projects__carousel {
		max-width: 930px;
		margin: 0 auto;
	}
	.controls__btn {
		transition-duration: 1s;
	}
	.controls__btn:first-child {
		right: 100%;
	}
	.controls__btn:nth-child(2) {
		left: 100%;
	}
}
@media (max-width: 1049.98px) {
	.section__container {
		padding: 20px 15px 60px;
	}
	.projects__carousel {
	}
	.controls__btn {
		top: 98%;
	}
	.controls__btn:first-child {
		right: 51%;
	}
	.controls__btn:nth-child(2) {
		left: 51.5%;
	}
}

@media (max-width: 939.98px) {
	.burger__icon {
		display: flex;
		position: relative;
		z-index: 15;
		top: 0;
		right: 0;
		width: 26.25px;
		height: 16px;
		margin-top: 15px;
		margin-right: 15px;
	}

	.burger__icon.active {
		margin-top: 15px;
		margin-right: 15px;
	}

	.burger__icon span,
	.burger__icon span::before,
	.burger__icon span::after {
		left: 0;
		position: absolute;
		height: 2.67px;
		width: 26.25px;
		transition: left 0.3s ease 0s;
		background-color: white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 16px;
	}

	.span.active,
	.span.active::before,
	.span.active::after {
		top: 0;
		height: 2px;
		width: 21.2px;
	}

	.burger__icon span::before,
	.burger__icon span::after {
		content: "";
		display: block;
		transition: 0.5s;
	}

	.burger__icon span::before {
		transform: translateY(-7px);
	}

	.burger__icon span::after {
		transform: translateY(7px);
	}

	.burger__icon.active span {
		height: 0;
	}

	.burger__icon.active span::before {
		transform: rotate(45deg);
	}

	.burger__icon.active span::after {
		transform: rotate(-45deg);
	}

	.header__menu {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		z-index: 5;
		background: var(--dark-color);
		transition: right 0.5s ease 0s;
		padding: 40px;
		overflow: auto;
	}

	.header__menu.active {
		right: 0;
	}

	.menu__list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 60px;
		text-align: center;
	}
	.menu__list li {
		margin: 0;
		margin-bottom: 10px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0px;
	}
	.menu__list {
		font-size: 16px;
		line-height: 21px;
	}

	.controls__btn {
		display: none;
	}

	.projects__carousel {
	}
	.projects__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		margin: 30px auto;
	}
	/* картинка */
	.projects__item {
		max-width: 540px;
		max-height: 550px;
	}
	.projects__image {
		width: 515px;
		height: 290px;
	}
}
/*PC*/

/*Tablet*/
@media (max-width: 990.98px) {

	.skills__content {
		display: grid;
		grid-template-rows: minmax(50px, auto) repeat(2, 1fr);
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"scheme"
			"description";
	}
	.skills__box {
		margin: 0 auto;
	}

	.skills__description {
		padding: 20px;
		gap: 20px;
	}
	.education__list {
		display: grid;
		grid-template-rows: repeat(4, 1fr);
	}
	.education__item {
		display: grid;
		border-bottom: 3px solid white;
		grid-template-columns: 1fr;
		padding: 25px 15px;
		gap: 15px;
	}
	.education__year {
		font-weight: 700;
	}
	.education__status {
		font-weight: 300;
	}
	.education__degree {
		font-weight: 700;
	}
	.education__company a {
		text-decoration: underline;
	}
	.footer {
		font-size: 18px;
	}
	.footer__container {
		
	}
	.footer__content {
		display: grid;
		grid-template-rows:  repeat(3, 1fr);
		grid-template-columns: 1fr;
		gap: 5px;
		align-items: center;
		justify-items: center;
		grid-template-areas: 
		"links"
		"dedication"
		"data";
	}
	.footer__dedication {
		grid-area: dedication;
		margin-top: 25px;
	}
	.footer__dedication img {

		width: 120px;
		margin-top: -14px;
		margin-left: 5px;
	}
	.footer__dedication img:hover {
		transition-duration: 0.6s;
		transform: scale(1.1);
	}
	.footer__data {
		grid-area: data;
		text-align: center;
	}
	.footer__links {
		align-items: center;
	}
	.links {
	}
	.links__list {
		grid-area: links;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		gap: 20px;
		justify-content: center;


	}
	.list__item {
	}
	.list__link {
	}
	
	.list__image {
		--icon-size: 40px;
		width: var(--icon-size);
		height: var(--icon-size);
		
	}
	

}
/*Mobile*/
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
@media (max-width: 645.98px) {
	.skills__content{
	display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"title title"
		"scheme description";
}
.skills__description{
	margin-left: -50px;
}
	.skills__box {
		width: 310px;
		height: 400px;
		grid-area: scheme;
    margin: 0px;
		
	}

	.skills__item:nth-child(1) {
		bottom: 9%;
		left: 24%;

	}
	.skills__item:nth-child(2) {
		top: -9%;
		left: -13%;

	}
	.skills__item:nth-child(3) {
		bottom: 16%;
		right: 14%;

	}
	.skills__item:nth-child(4) {
		top: 7%;
		right: 60%;
		width: 80px;
		height: 90px;
	}
	.sass-text {
		left: 2%;
	}
	
	.skills__item:nth-child(5) {
		top: -10%;
		right: 5%;
		width: 130px;
		height: 140px;
	}

	.html-text {
		top: 43%;
		left: 23%;
	}
	
	.skills__item:nth-child(6) {
		top: 10%;
		right: 32%;
		width: 100px;
		height: 110px;
	}
	.css-text {
		top: 43%;
		left: 23%;
	}
	.skills__item:nth-child(7) {
		top: 25%;
		right: 73%;
		width: 70px;
		height: 80px;
	}
	.js-text {
		top: 39%;
		left: 28%;
	}
	.skills__item:nth-child(8) {
		bottom: 5%;
		left: 0%;
	}

	.skills__item:nth-child(9) {
		bottom: 0%;
		left: 13%;
	}
	.skills__item:nth-child(10) {
		bottom: -8%;
		left: -5%;

	}
}
@media (max-width: 585.98px) {
	.skills__content{
	display: grid;
	grid-template-rows: 70px 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"description";
}
.skills__description{
	margin-left: 0px;
}
	.skills__box {
		display: none;
		
	}

}